@import '../../../../../colors.scss';

.coment-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin: 90px auto;
    .name-form{
        width: 100%;
        font-size: 20px;
    }
    .form-post{
        display: flex;
        flex-direction: column;
        width: 100%;
        textarea{
             -webkit-appearance: none;
             -moz-appearance: none;
             appearance: none;
             border: 1px solid $extralightgray;
             border-radius: 0;
             margin: 0;
             padding: 12px;
             font-size: 20px;
             line-height: 24px;
             height: calc(24px * 6);
             resize: none;
             &:focus {
                 outline: none;
             }
        }
        .button-post{
            -webkit-appearance: none;
             -moz-appearance:    none;
             appearance:         none;
             padding: 0px 16px;
             border: 0;
             border-radius: 100px;
             background: $blue;
             color: $white;
             max-width: max-content;
             font-size: 20px;
             font-weight: 700;
             margin: 12px 0 12px auto;
             cursor: pointer;
             
        }
    }
}
.single-post{
    margin: 90px auto;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .post-title-coment{
        width: 100%;
        font-size: 20px;
        line-height: 24px;
    }
}
h2{
    width: 100%;
    
}